body {
  background-color: #FFFFFF;
}
h1 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 55px;
}

button {
  margin: 0 auto;
  display: block;
  background-color: tan;
}

#game-results {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
}
.game-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.grid {
  display: table;
  border-spacing: 5px;
}
.row {
  display: table-row;
}
.cell {
  background: #FFFFFF;
  display: table-cell;
  padding: 60px;
  border: 3px solid #000000;
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
}

.currentPlay {
  background-color: darkmagenta;
}
